name: Release
on:
  push:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Get Version Number
        uses: fwilhe2/bump-version@main
        id: bump
      - run: echo New Version Number ${{ steps.bump.outputs.newVersion }}
      - name: Create Release
        run: |
          gh release create ${{ steps.bump.outputs.newVersion }} --title "Release ${{ steps.bump.outputs.newVersion }}" --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
